*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: 'montserratregular','Arial',sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;   
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.delivery {
    background-color: #212121;
    color: #ffffff;
    text-align: center;
    padding-bottom: 69px;
    padding-top: 80px;
}

.delivery_h2 {
    margin-bottom: 23px;
    letter-spacing: 2.5%;
    font-size: 30px;
    text-transform: uppercase;
}

.delivery_h2 span {
    font-weight: normal;
}

.delivery_text {
    font-size: 21px;
    font-family: 'montserratlight';

}

.man-woman .container {
display: flex;
flex-direction: row;
}

.man {
   background-color: #F9F6F1;
    width: 50%;
    padding: 60px 15px 58px;
}

.woman {
    background-color: #F4F4F4;
    padding: 60px 15px 58px;
    width: 50%;
}

.man-woman_h2 {
    font-size: 24px;
    text-transform: uppercase;
}

.man-woman_h2 span{
    font-weight: normal;
}

.man-woman_text{
    font-family: 'montserratlight';
    font-size: 16px;
    margin-top:  25px; ;
    margin-bottom: 40px;    
}

.man-woman_link {
    background-color: #D7B399;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.man-woman_link:hover, .man-woman_link:focus{
    background-color: #8a7361;
}

.man-woman {
    background-color: #F4F4F4;
}

.man {
    background-image: url(../img/man.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.woman {
    background-image: url(../img/woman.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.dress {
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
}

.dress_card {
    background-color: #F4F4F4;
    font-family: 'montserratlight';
    min-width: 25%;
    height: 236px;
    background-image: url(../img/dress.png);
    background-repeat: no-repeat;
}

.dress_card:nth-child(even) {
    background-color: #F9F6F1;
}

.dress_text {
    padding: 186px 30px;
}

.new_h2 {
    font-family: 'montserratbold';
    text-align: center;
    font-size: 36px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.catalog {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}

.card {
text-align: center;
padding: 25px;
border: #d7b399 dashed 1px;
position: relative;
}
.new_button {
    display: block;
    width: 220px;
    height: 55px;
    background-color: #d7b399;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    margin: 100px auto 0;
}
.new_button:hover,.new_button:focus {
    background-color: #8a7361; 
}

.new .container {
    padding: 150px 15px;
}

.card_heart {
    top: 20px;
    left: 20px;
    position: absolute;
    z-index: 1;
    fill: #e4ab82;
}

.card_heart:hover, .card_heart:focus {
    fill: #8a7361;
}

.subscribe {
    background-color: #212121;
    color: #ffffff;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 71px;
}

.sub_text {
    display: flex;
    flex-direction: row;
}

.subscribe_h2 {
    letter-spacing: 2.5%;
    font-size: 30px;
    font-family: 'montserratlight';
}

.subscribe_h2 span {
    font-weight: normal;
}

.subscribe_text {
    font-size: 21px;
}

.sub_button {
    font-family: 'montserratregular';
    border: none;
    background-color: #D7B399;
    width: 185px;
    height: 40px;
    color: #fff;
    font-size: 14px;
}

.sub_button:hover,.sub_button:focus {
    background-color: #8a7361; 
}

.Subs_inp {
    font-family: 'montserratlight';
    width: 255px;
    height: 40px;
    padding-left: 20px;
    margin-left: 60px;
    margin-right: 35px;
}

.copyright {
    background-color: #ffffff;
    color: #212121;
}

.banner {
    background: #f9f6f1;
}

.slider_item {
    display: flex;
    padding-top: 166px;
    justify-content: space-between;
    min-height: 564px;
    background:url(../img/running_shoes_PNG5823.png) no-repeat right center;
}

.slider_text {
    font-size: 30px;
}

.slider_big-text {
    font-family: "montserratbold", "Arial", sans-serif;
    font-weight: bold;
    font-size: 55px;
}

.button {
    display: block;
    width: 240px;
    padding: 22px 0;
    text-align: center;
    background-color: #d7b399;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}

.slider_item--price {
    font-family: "montserrat", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.slider_price--old {
    font-size: 24px;
    text-decoration-line:line-through;
}

.slider_price--new {
    font-size: 42px;
    color: #d84033;
}

.slider_wrapper {
    position: relative;
}

.slider_button {
    position: absolute;
    top: 50%;
    background-color: #F9F6F1;
    border: none;
    text-decoration: none;
}

.button {
    text-decoration: none;
}

.slider_button--prev {
    left: -100px;
}

.slider_button--next {
    right: -100px;
}

.slider_button:hover,.slider_button:focus {
    background-color: #8a7361; 
}

.header{
    height: 918px;
    min-width: 17px;
    background-color:#f9f6f1 ;
}

.header-menu {
    height: 17px;
    padding: 61px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #f9f6f1;
}

.section_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mainmenu_list {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
}

.menu_link {
    color: #212121;
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: black;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    margin: 20px;
}

.header_logo {
    margin-top: 20px;
}

.sales {
    padding: 150px;
}

.copy_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .container {
    flex-wrap:wrap;
    display: flex;
    background-color: #212121;
    color: #ffffff;
    height: 311px;
    justify-content:space-between; 
    align-items: center;  
    border: 1px solid black;
    width: 1920px;
}

.spiski {
    flex-wrap:wrap;
    text-align: center;
    width: 150px;
    height: 311px;
    background-color: #212121;
    flex-direction:row;
}

.spiski li a {
    text-decoration: none;
    color: #fff;
}

.spiski h2 {
    margin-bottom: 30px;
}

.spiski h3 {
     margin-bottom: 30px;
}

.footer_icons {
    height: 24px;
    width: 24px;
}